* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Dana" !important;
  background-color: #3b1e54;
}

@font-face {
  font-family: "Dana";
  src: url("/public/fonts/Dana.woff2");
}

.game-info {
  margin: 20px;
}
main {
  width: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
}
#game-container {
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
  border-radius: 7px;

  background-color: #5b3e77;
  box-shadow: 0px 0px 5px #9b7ebd;
}

.matrix-cell {
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9b7ebd;
  box-shadow: 0px 0px 5px #9b7ebd;
  border-radius: 7px;
  cursor: pointer;
  color: #3b1e54;
  font-size: 1.4rem;
}

.matrix-cell.selected {
  background-color: #7b5e99;
  color: white;
}

.matrix-cell:hover {
  transform: scale(1.02);
}

#status-container {
  color: #fff;
  font-size: 20px;
  margin: 30px 0 15px 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: .8rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto 30px;
  border-radius: 7px;
  background-color: #5b3e77;
  box-shadow: 0px 0px 5px #9b7ebd;
}
@media screen and (max-width: 500px) {
  .matrix-cell {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
  }
  #game-container {
    margin: 0 !important;
  }
}
